<div class="w-[350px]">
  <div class="hidden z-20 w-full overflow-auto md:overflow-hidden h-screen md:relative md:flex-col md:z-0 md:h-screen md:flex bg-white dark:bg-gray-800">
    <div class="flex items-center self-center justify-center py-6">
      <img src="https://www.lokthar.com/logo-clear.png" class="h-20">
    </div>
    <nav class="overflow-auto no-scrollbar">
      <div class="mt-0">
        <% if false %>
        <div class="flex mb-4 flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
          <span class="align-center font-bold gap-2 grid grid-flow-col items-center justify-center place-content-start text-primary" style="
            color: #24f39f;
            ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z" />
            </svg>
            You are online
          </span>
        </div>
        <% end -%>
<!--        <div class="my-0">
          <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
            <p class="text-l text-indigo-500 font-bold">Bienvenido</p>
            <% if current_user %>
              <p class="text-sm text-white"><%= current_user.discord_tag %></p>
            <% else %>
              <p class="text-sm text-white">Inicia sesion aqui</p>
            <% end -%>
          </div>
        </div> -->
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-purple-500 bg-gradient-to-r from-white to-indigo-100 border-r-4 border-indigo-500 dark:from-indigo-700 dark:to-indigo-800 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg class="w-[24px] h-[24px] fill-current text-white" data-testid="eos-svg-component" transform="rotate(0) translate(0, 0) scale(1, 1)" fill="black" width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Home / Feed</span>
        </a>
      </div>
      <div class="mt-8">
        <div class="my-4">
          <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
            <p class="text-l text-indigo-500 font-bold">Members Area</p>
          </div>
        </div>
        <a class="sidebar-button sidebar-disabled" href="/events" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px] text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
          </span>
          <span class="text">Eventos/Guerras</span>
        </a>
        <a class="sidebar-button sidebar-disabled" href="/parties" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px] text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
            </svg>
          </span>
          <span class="text">Party Maker</span>
        </a>
        <!-- perfil -->
        <a class="disabled sidebar-button" href="#" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px] text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </span>
          <span class="text">Mi Perfil</span>
        </a>
        <!-- rankings -->
        <a class="disabled sidebar-button" href="#" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
              <path data-name="layer2" d="M32 53.2l-24-10V51l24 10 24-10v-7.8l-24 10z"></path>
              <path data-name="layer2" d="M56 38.8v-5.6l-24 10-24-10v5.6l24 10 24-10z"></path>
              <path data-name="layer2" d="M8 23.2v5.6l24 10 24-10v-5.6l-24 10-24-10z"></path>
              <path data-name="layer1" d="M32 28.8l24-10V3H8v15.8l24 10z"></path>
            </svg>
          </span>
          <span class="text">Rankings</span>
        </a>
        <!-- miembros -->
        <a class="disabled sidebar-button" href="#" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-[24px] h-[24px] fill-current text-gray-500">
              <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path>
            </svg>
          </span>
          <span class="text">Miembros/Rosters</span>
        </a>
        <!-- pvpclips -->
        <a class="disabled sidebar-button" href="#" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px] text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
          </span>
          <span class="text">PvP Clips</span>
        </a>
      </div>
      <!-- <div class="mt-8">
        <div class="my-4">
          <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
            <p class="text-l text-indigo-500 font-bold">Marketplace</p>
            <p class="text-sm text-white">Buy &amp; Sell your NFTs</p>
          </div>
        </div>
        <a class="disabled sidebar-button" href="/marketplace/spaceships" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
              <path data-name="layer2" d="M47 7a16 16 0 1 0 16 16A16 16 0 0 0 47 7zm8 18h-6v6a2 2 0 1 1-4 0v-6h-6a2 2 0 0 1 0-4h6v-6a2 2 0 1 1 4 0v6h6a2 2 0 0 1 0 4z"></path>
              <circle data-name="layer2" cx="21" cy="55" r="4"></circle>
              <circle data-name="layer2" cx="47" cy="55" r="4"></circle>
              <path data-name="layer1" d="M47 43a20 20 0 0 1-20-20H16.8L12.9 6.5A2 2 0 0 0 11 5H3a2 2 0 0 0 0 4h6.4l9 38h33l1.6-4.9a20 20 0 0 1-6 .9z"></path>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Spaceships</span>
        </a>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/marketplace/workers" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
              <path data-name="layer2" d="M47 7a16 16 0 1 0 16 16A16 16 0 0 0 47 7zm8 18h-6v6a2 2 0 1 1-4 0v-6h-6a2 2 0 0 1 0-4h6v-6a2 2 0 1 1 4 0v6h6a2 2 0 0 1 0 4z"></path>
              <circle data-name="layer2" cx="21" cy="55" r="4"></circle>
              <circle data-name="layer2" cx="47" cy="55" r="4"></circle>
              <path data-name="layer1" d="M47 43a20 20 0 0 1-20-20H16.8L12.9 6.5A2 2 0 0 0 11 5H3a2 2 0 0 0 0 4h6.4l9 38h33l1.6-4.9a20 20 0 0 1-6 .9z"></path>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Workers</span>
        </a>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/marketplace/fleets" target="_self" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
              <path data-name="layer2" d="M47 7a16 16 0 1 0 16 16A16 16 0 0 0 47 7zm8 18h-6v6a2 2 0 1 1-4 0v-6h-6a2 2 0 0 1 0-4h6v-6a2 2 0 1 1 4 0v6h6a2 2 0 0 1 0 4z"></path>
              <circle data-name="layer2" cx="21" cy="55" r="4"></circle>
              <circle data-name="layer2" cx="47" cy="55" r="4"></circle>
              <path data-name="layer1" d="M47 43a20 20 0 0 1-20-20H16.8L12.9 6.5A2 2 0 0 0 11 5H3a2 2 0 0 0 0 4h6.4l9 38h33l1.6-4.9a20 20 0 0 1-6 .9z"></path>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Fleets</span>
        </a>
      </div> -->
      <div class="mt-8">
        <div class="my-4">
          <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
            <p class="text-l text-indigo-500 font-bold">Links</p>
            <p class="text-sm text-white">Links externos</p>
          </div>
        </div>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://nwdb.info" target="_blank" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
              <line x1="22" y1="2" x2="11" y2="13"></line>
              <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">NW Database</span>
        </a>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://lokthar.challonge.com/" target="_blank" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
              <line x1="22" y1="2" x2="11" y2="13"></line>
              <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Lobby de Torneos</span>
        </a>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://discord.gg/lokthar" target="_blank" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
              <line x1="22" y1="2" x2="11" y2="13"></line>
              <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Lokthar Discord</span>
        </a>
      </div>
<!--          <div class="mt-8">
        <div class="my-4">
          <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
            <p class="text-l text-indigo-500 font-bold">Get Social</p>
            <p class="text-sm text-white">Talk with us and other miners</p>
          </div>
        </div>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://t.me/cryptominesapp" target="_blank" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
              <line x1="22" y1="2" x2="11" y2="13"></line>
              <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Telegram</span>
        </a>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://twitter.com/cryptominesapp" target="_blank" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
              <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Twitter</span>
        </a>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://discord.gg/8Q7cMb3Cqe" target="_blank" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
              <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Discord</span>
        </a>
        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
          duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://www.instagram.com/cryptominesapp" target="_blank" rel="noreferrer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>
          </span>
          <span class="mx-4 text-sm font-medium text-gray-100">Instagram</span>
        </a>
      </div> -->
    </nav>
  </div>
</div>
