<div class="flex flex-row mb-10">
  <div class="flex-shrink p-2 flex items-center flex-col max-w-[65px]">
     <img
           src="https://www.lokthar.com/logo-clear.png"
           alt="..."
           class="rounded-full w-10 h-10 align-middle border-2 border-light-green-200 border-opacity-50 filter drop-shadow-lg"
         />
     <div class="text-xs px-1 font-medium bg-gray-500 bg-opacity-10
          text-gray-400 rounded py-0.5 text-center">
        Member
      </div>
  </div>
  <div class="w-[600px]">
    <!--  <img src="https://cdn.medal.tv/33483274/thumbnail-72331073-720p.jpg" fallback="https://cdn.medal.tv/33483274/thumbnail-72331073-360p.jpg" style="object-fit: contain; margin: 0px auto; max-width: 100%; max-height: 100%;"> -->
    <iframe width='600' height='338' class="rounded-t" src='https://medal.tv/games/rocket-league/clip/4TuCd1rUm3pww/Cv3eio1vzmtT' allowfullscreen></iframe>
    <div class="w-full bg-gray-800 p-2 rounded-b flex justify-between pr-2">
     <span class="flex justify-center items-center m-1 font-medium py-1 px-2 rounded-full text-indigo-500 bg-gray-800 border border-indigo-400">
         <span slot="avatar">
           <span
             class="flex relative w-4 h-4 bg-orange-500 justify-center items-center m-1 mr-2 ml-0 my-0 text-xs rounded-full">
             <img
               class="rounded-full"
               alt="A"
               src="https://www.lokthar.com/logo-clear.png"
             />
           </span>
         </span>
         <span class="text-xs font-normal leading-none max-w-full flex-initial">
           Username</span
         >
       </span>
     <!-- like -->
     <div class="flex text-gray-100 gap-2 mr-2 text-xs">
        <a class="flex gap-2 mr-4 justify-center items-center hover:text-indigo-400" href="#">
           <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
           </svg>
           <span>Like</span>
        </a>
        <a class="flex gap-2 justify-center items-center hover:text-indigo-400" href="#">
           <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
           </svg>
           <span>Share</span>
        </a>
     </div>
    </div>
  </div>
</div>