<div id="__next">
   <div class="bg-no-repeat bg-cover bg-top h-screen overflow-hidden z-0 relative">
      <div class="w-full h-screen dark:bg-gray-900 absolute bg-opacity-70 py-8"></div>
      <div class="md:mx-auto bg-gray-100 dark:bg-gray-900 relative">
         <div class="w-full flex h-screen">
            <div class="w-[350px]">
               <div class="hidden z-20 w-full overflow-auto md:overflow-hidden h-screen md:relative md:flex-col md:z-0 md:h-screen md:flex bg-white dark:bg-gray-800">
                  <div class="flex items-center self-center justify-center py-6">
                    <img src="https://www.lokthar.com/logo-clear.png" class="h-20">
                  </div>
                  <nav class="overflow-auto no-scrollbar">
                     <div class="mt-0">
                        <div class="flex mb-4 flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
                           <span class="align-center font-bold gap-2 grid grid-flow-col items-center justify-center place-content-start text-primary" style="
                              color: #24f39f;
                              ">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z" />
                              </svg>
                              You are online
                           </span>
                        </div>
                        <div class="my-0">
                           <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
                              <p class="text-l text-indigo-500 font-bold">Bienvenido</p>
                              <p class="text-sm text-white">a Lokthar APP</p>
                           </div>
                        </div>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-purple-500 bg-gradient-to-r from-white to-indigo-100 border-r-4 border-indigo-500 dark:from-indigo-700 dark:to-indigo-800 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg class="w-[24px] h-[24px] fill-current text-white" data-testid="eos-svg-component" transform="rotate(0) translate(0, 0) scale(1, 1)" fill="black" width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                 <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Home</span>
                        </a>
                     </div>
                     <div class="mt-8">
                        <div class="my-4">
                           <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
                              <p class="text-l text-indigo-500 font-bold">Main Game</p>
                              <p class="text-sm text-white">Play To Earn</p>
                           </div>
                        </div>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/game/spaceships" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
                                 <path data-name="layer2" d="M18 50.8V28h-.1a2.9 2.9 0 0 0-2.9 2.9v12.2a2.9 2.9 0 0 1-2.5 2.9H9.9A2.9 2.9 0 0 0 7 48.9V60h5a10 10 0 0 1 6-9.2zM54.1 46h-2.6a2.9 2.9 0 0 1-2.5-2.9V30.9a2.9 2.9 0 0 0-2.9-2.9H46v22.8a10 10 0 0 1 6 9.2h5V48.9a2.9 2.9 0 0 0-2.9-2.9z"></path>
                                 <path data-name="layer1" d="M22 50a10 10 0 0 1 10 10 10 10 0 0 1 10-10V21.8C42 10.9 32 4 32 4s-10 6.9-10 17.8V50zm10-30a4 4 0 1 1-4 4 4 4 0 0 1 4-4z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Spaceships</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/game/workers" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
                                 <path data-name="layer2" d="M32 53.2l-24-10V51l24 10 24-10v-7.8l-24 10z"></path>
                                 <path data-name="layer2" d="M56 38.8v-5.6l-24 10-24-10v5.6l24 10 24-10z"></path>
                                 <path data-name="layer2" d="M8 23.2v5.6l24 10 24-10v-5.6l-24 10-24-10z"></path>
                                 <path data-name="layer1" d="M32 28.8l24-10V3H8v15.8l24 10z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Workers</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/game/fleets" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-[24px] h-[24px] fill-current text-gray-500">
                                 <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Fleets</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/game/expeditions" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 458.758 458.758" class="w-[24px] h-[24px] fill-current text-gray-500">
                                 <path d="M448.189 10.579c-11.9-11.9-30.2-13.8-54.3-5.5-10.6 3.6-22.6 9.2-36.1 16.8-8.1 4.6-16.8 9.8-25.8 15.8-2.4 1.6-4.8 3.2-7.3 4.9 13.8 7 26.7 15.5 38.6 25.5 2.8-1.7 5.4-3.4 8-4.9 22.8-13.6 37.1-18.8 44.6-20.3-2 10.1-10.7 32.8-37.9 72-2.2 3.1-4.4 6.3-6.7 9.5-5.1-6.9-10.8-13.6-17.1-19.8-68.9-68.9-180.7-68.9-249.6 0s-68.9 180.7 0 249.6c6.3 6.3 12.9 12 19.8 17.1-3.2 2.3-6.4 4.5-9.5 6.7-39.2 27.1-61.9 35.9-72 37.9 1.2-6.1 4.9-17 13.8-33.4 3.1-5.7 6.8-12.1 11.3-19.2-9.9-11.9-18.4-24.8-25.5-38.6-1.7 2.4-3.3 4.9-4.9 7.3-8.3 12.6-15.2 24.3-20.7 35-5.1 9.8-9 18.8-11.8 26.9-8.2 24.1-6.4 42.4 5.5 54.3s30.2 13.8 54.3 5.5c17-5.8 37.8-16.8 61.9-32.6 47.6-31.3 104.4-79 159.8-134.4s103.2-112.2 134.4-159.8c15.8-24.1 26.8-44.9 32.6-61.9 8.3-24.2 6.5-42.4-5.4-54.4zm-344.3 235.6c-9.3 0-16.8-7.5-16.8-16.8 0-38.2 14.9-74.2 41.9-101.2 6.6-6.6 17.2-6.6 23.8 0 6.6 6.6 6.6 17.2 0 23.8-20.7 20.7-32.1 48.2-32.1 77.4.1 9.3-7.5 16.8-16.8 16.8zM310.189 310.179c-35 35-70.6 67-104.3 94.1 52.6 7 107.9-9.7 148.3-50.1 40.5-40.5 57.2-95.7 50.1-148.3-27.1 33.7-59.1 69.3-94.1 104.3z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Expeditions</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/game/raids" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg aria-labelledby="title" aria-describedby="desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-[24px] h-[24px] fill-current text-gray-500">
                                 <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Raids</span>
                        </a>
                     </div>
                     <div class="mt-8">
                        <div class="my-4">
                           <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
                              <p class="text-l text-indigo-500 font-bold">Marketplace</p>
                              <p class="text-sm text-white">Buy &amp; Sell your NFTs</p>
                           </div>
                        </div>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/marketplace/spaceships" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
                                 <path data-name="layer2" d="M47 7a16 16 0 1 0 16 16A16 16 0 0 0 47 7zm8 18h-6v6a2 2 0 1 1-4 0v-6h-6a2 2 0 0 1 0-4h6v-6a2 2 0 1 1 4 0v6h6a2 2 0 0 1 0 4z"></path>
                                 <circle data-name="layer2" cx="21" cy="55" r="4"></circle>
                                 <circle data-name="layer2" cx="47" cy="55" r="4"></circle>
                                 <path data-name="layer1" d="M47 43a20 20 0 0 1-20-20H16.8L12.9 6.5A2 2 0 0 0 11 5H3a2 2 0 0 0 0 4h6.4l9 38h33l1.6-4.9a20 20 0 0 1-6 .9z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Spaceships</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/marketplace/workers" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
                                 <path data-name="layer2" d="M47 7a16 16 0 1 0 16 16A16 16 0 0 0 47 7zm8 18h-6v6a2 2 0 1 1-4 0v-6h-6a2 2 0 0 1 0-4h6v-6a2 2 0 1 1 4 0v6h6a2 2 0 0 1 0 4z"></path>
                                 <circle data-name="layer2" cx="21" cy="55" r="4"></circle>
                                 <circle data-name="layer2" cx="47" cy="55" r="4"></circle>
                                 <path data-name="layer1" d="M47 43a20 20 0 0 1-20-20H16.8L12.9 6.5A2 2 0 0 0 11 5H3a2 2 0 0 0 0 4h6.4l9 38h33l1.6-4.9a20 20 0 0 1-6 .9z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Workers</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="/marketplace/fleets" target="_self" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-[24px] h-[24px] fill-current text-gray-500">
                                 <path data-name="layer2" d="M47 7a16 16 0 1 0 16 16A16 16 0 0 0 47 7zm8 18h-6v6a2 2 0 1 1-4 0v-6h-6a2 2 0 0 1 0-4h6v-6a2 2 0 1 1 4 0v6h6a2 2 0 0 1 0 4z"></path>
                                 <circle data-name="layer2" cx="21" cy="55" r="4"></circle>
                                 <circle data-name="layer2" cx="47" cy="55" r="4"></circle>
                                 <path data-name="layer1" d="M47 43a20 20 0 0 1-20-20H16.8L12.9 6.5A2 2 0 0 0 11 5H3a2 2 0 0 0 0 4h6.4l9 38h33l1.6-4.9a20 20 0 0 1-6 .9z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Fleets</span>
                        </a>
                     </div>
                     <div class="mt-8">
                        <div class="my-4">
                           <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
                              <p class="text-l text-indigo-500 font-bold">Educate</p>
                              <p class="text-sm text-white">Learn how to play</p>
                           </div>
                        </div>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://docs.cryptomines.app/" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
                                 <line x1="22" y1="2" x2="11" y2="13"></line>
                                 <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Whitepaper</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://docs-es.cryptomines.app/" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
                                 <line x1="22" y1="2" x2="11" y2="13"></line>
                                 <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Whitepaper Español</span>
                        </a>
                     </div>
                     <div class="mt-8">
                        <div class="my-4">
                           <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
                              <p class="text-l text-indigo-500 font-bold">Get $ETERNAL</p>
                              <p class="text-sm text-white">With Another Cryptocurrencies</p>
                           </div>
                        </div>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://exchange.biswap.org/#/swap?outputCurrency=0xD44FD09d74cd13838F137B590497595d6b3FEeA4" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg viewBox="0 0 55 55" fill="none" class="w-[24px] h-[24px]" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M27.0769 54.1537C42.031 54.1537 54.1538 42.031 54.1538 27.0769C54.1538 12.1227 42.031 0 27.0769 0C12.1227 0 0 12.1227 0 27.0769C0 42.031 12.1227 54.1537 27.0769 54.1537Z" fill="white"></path>
                                 <path d="M48.0498 10.187C46.1719 10.5582 44.3814 11.0823 42.9074 11.4098C39.5446 12.1632 36.4002 14.7399 35.7124 19.4565C35.101 23.6709 36.5203 25.4833 35.898 30.3855C34.8062 38.9453 26.5958 41.8931 22.7635 43.6837C20.5471 44.71 15.1645 47.0683 11.0156 48.8698C15.5139 52.1889 21.0603 54.1542 27.0762 54.1542C42.034 54.1542 54.1531 42.0351 54.1531 27.0773C54.1531 20.7011 51.9476 14.8381 48.2573 10.2198C48.1918 10.2088 48.1263 10.1979 48.0498 10.187Z" fill="url(#paint0_linear)"></path>
                                 <path d="M24.0307 23.1027C26.1161 18.5935 25.3628 18.5826 26.9459 14.3464C28.9439 8.97467 35.1563 10.5032 36.8704 10.7325C39.6982 11.1146 40.4407 10.1102 46.4019 9.14936C46.6967 9.10569 46.9806 9.06202 47.2645 9.02926C42.3076 3.49379 35.1017 0 27.0769 0C16.3007 0 6.9985 6.28882 2.64218 15.4054C11.5732 17.6218 21.2139 22.4367 24.0307 23.1027ZM18.1131 4.71662C18.8992 4.83671 22.7206 9.58608 23.4412 21.7816C23.4412 21.7816 18.528 20.6024 17.469 18.0694C16.5955 15.9841 17.731 13.2436 18.1131 4.71662ZM48.2143 10.1647C48.2253 10.1866 48.2471 10.1975 48.258 10.2193C48.1925 10.2084 48.1161 10.2084 48.0506 10.1975C48.1052 10.1757 48.1598 10.1757 48.2143 10.1647ZM0 27.0769C0 24.9151 0.251116 22.8188 0.731513 20.8099C1.71414 21.6287 2.76228 22.5349 3.87593 23.5722C10.929 30.1121 22.4039 35.2764 26.5856 30.4724C26.5965 30.4833 26.6074 30.4833 26.6074 30.4942C25.8431 31.4987 22.928 34.6759 17.3598 33.6932L8.55979 46.8277C3.29727 41.8927 0 34.8724 0 27.0769Z" fill="url(#paint1_linear)"></path>
                                 <defs>
                                    <linearGradient id="paint0_linear" x1="43.3371" y1="17.2788" x2="36.9491" y2="52.4708" gradientUnits="userSpaceOnUse">
                                       <stop stop-color="#FF496A"></stop>
                                       <stop offset="1" stop-color="#E42648"></stop>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear" x1="13.0692" y1="39.8859" x2="27.193" y2="-1.0612e-05" gradientUnits="userSpaceOnUse">
                                       <stop offset="0.00181229" stop-color="#1158F1"></stop>
                                       <stop offset="1" stop-color="#119BED"></stop>
                                    </linearGradient>
                                 </defs>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Biswap</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://pancakeswap.finance/swap?inputCurrency=BNB&amp;outputCurrency=0xD44FD09d74cd13838F137B590497595d6b3FEeA4" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[26px] h-[26px]">
                                 <circle cx="48" cy="48" r="48" fill="url(#paint0_linear_10493:36952)"></circle>
                                 <path fill-rule="evenodd" clip-rule="evenodd" d="M47.8581 79.8749C38.5164 79.8678 30.9915 77.6262 25.7338 73.5999C20.413 69.5252 17.5903 63.7429 17.5903 57.2001C17.5903 50.8957 20.4068 46.3497 23.5936 43.2769C26.0911 40.8688 28.8471 39.3265 30.7661 38.4394C30.3322 37.1076 29.7907 35.364 29.3063 33.5632C28.6582 31.1534 28.0223 28.3261 28.0223 26.2543C28.0223 23.802 28.557 21.3392 29.9986 19.4255C31.5217 17.4037 33.8146 16.3206 36.5731 16.3206C38.7289 16.3206 40.5593 17.1202 41.9922 18.4998C43.3619 19.8184 44.2735 21.5697 44.9029 23.3952C46.0089 26.6029 46.4396 30.633 46.5604 34.6548H49.2026C49.3234 30.633 49.754 26.6029 50.8601 23.3952C51.4895 21.5697 52.4011 19.8184 53.7708 18.4998C55.2037 17.1202 57.034 16.3206 59.1899 16.3206C61.9484 16.3206 64.2413 17.4037 65.7644 19.4255C67.206 21.3392 67.7407 23.802 67.7407 26.2543C67.7407 28.3261 67.1048 31.1534 66.4566 33.5632C65.9722 35.364 65.4308 37.1076 64.9968 38.4394C66.9159 39.3265 69.6719 40.8688 72.1693 43.2769C75.3562 46.3497 78.1726 50.8957 78.1726 57.2001C78.1726 63.7429 75.35 69.5252 70.0292 73.5999C64.7715 77.6262 57.2466 79.8678 47.9049 79.8749H47.8581Z" fill="#633001"></path>
                                 <path d="M36.573 18.6528C32.5327 18.6528 30.6729 21.6977 30.6729 25.9088C30.6729 29.2559 32.8339 35.9594 33.7205 38.569C33.9199 39.1559 33.6065 39.799 33.0351 40.0266C29.797 41.3164 20.241 46.039 20.241 56.8546C20.241 68.2477 29.952 76.838 47.86 76.8516C47.8671 76.8516 47.8742 76.8516 47.8814 76.8516C47.8885 76.8516 47.8956 76.8516 47.9028 76.8516C65.8107 76.838 75.5218 68.2477 75.5218 56.8546C75.5218 46.039 65.9658 41.3164 62.7277 40.0266C62.1562 39.799 61.8429 39.1559 62.0423 38.569C62.9289 35.9594 65.0898 29.2559 65.0898 25.9088C65.0898 21.6977 63.23 18.6528 59.1898 18.6528C53.374 18.6528 51.9243 26.9751 51.8209 35.907C51.814 36.5033 51.3368 36.9871 50.7465 36.9871H45.0163C44.4259 36.9871 43.9488 36.5033 43.9419 35.907C43.8385 26.9751 42.3887 18.6528 36.573 18.6528Z" fill="#D1884F"></path>
                                 <path d="M47.9028 73.202C34.7449 73.202 20.2637 66.0868 20.241 56.8762C20.241 56.8906 20.241 56.905 20.241 56.9193C20.241 68.3216 29.9675 76.9164 47.9028 76.9164C65.838 76.9164 75.5645 68.3216 75.5645 56.9193C75.5645 56.905 75.5645 56.8906 75.5645 56.8762C75.5418 66.0868 61.0607 73.202 47.9028 73.202Z" fill="#FEDC90"></path>
                                 <path d="M40.5919 54.0472C40.5919 57.1569 39.1371 58.7765 37.3426 58.7765C35.548 58.7765 34.0933 57.1569 34.0933 54.0472C34.0933 50.9375 35.548 49.3179 37.3426 49.3179C39.1371 49.3179 40.5919 50.9375 40.5919 54.0472Z" fill="#633001"></path>
                                 <path d="M61.7122 54.0472C61.7122 57.1569 60.2575 58.7765 58.4629 58.7765C56.6684 58.7765 55.2136 57.1569 55.2136 54.0472C55.2136 50.9375 56.6684 49.3179 58.4629 49.3179C60.2575 49.3179 61.7122 50.9375 61.7122 54.0472Z" fill="#633001"></path>
                                 <defs>
                                    <linearGradient id="paint0_linear_10493:36952" x1="48" y1="0" x2="48" y2="96" gradientUnits="userSpaceOnUse">
                                       <stop stop-color="#53DEE9"></stop>
                                       <stop offset="1" stop-color="#1FC7D4"></stop>
                                    </linearGradient>
                                 </defs>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">PancakeSwap</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://www.bitmart.com/trade/en?symbol=ETERNAL_USDT&amp;layout=basic" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg viewBox="0 0 233.91 281" xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px]">
                                 <path d="m202 136.19a84.68 84.68 0 0 0 18.25-52.65c0-47-38.08-83.54-85.06-83.54h-103.29v10.63h101c41.52 0 75.18 32.15 75.18 73.67a74.88 74.88 0 0 1 -14.8 44.81z" fill="#55a49f"></path>
                                 <path d="m190.48 127.39a61.34 61.34 0 0 0 17.61-43.09 61.52 61.52 0 0 0 -61.51-61.52h-87.34v10.64h89.61a50.12 50.12 0 0 1 50.15 50.12 50 50 0 0 1 -17.86 38.36z" fill="#4a8c89"></path>
                                 <path d="m173.63 119.37c14.37-6.28 25.37-19.96 25.37-35.83 0-21.81-20.72-39.49-42.53-39.49h-75.97v6.07h75.19c18 0 35.69 14.63 35.69 32.66 0 14.61-11.58 27-25.57 31.15z" fill="#5aaba5"></path>
                                 <path d="m1.52 270.37h16.71v10.63h-16.71z" fill="#4a8c8a"></path>
                                 <path d="m18.23 249.1h66.83v7.59h-66.83z" fill="#5aaba6"></path>
                                 <path d="m18.23 202.02h71.39v6.08h-71.39z" fill="#4b8f8e"></path>
                                 <path d="m103.29 202.02h45.57v6.08h-45.57z" fill="#7cc6c7"></path>
                                 <path d="m31.9 180.75h24.3v6.08h-24.3z" fill="#5ab5b4"></path>
                                 <path d="m69.87 180.75h78.98v6.08h-78.98z" fill="#428989"></path>
                                 <path d="m95.69 85.06h51.64v6.08h-51.64z" fill="#549391"></path>
                                 <path d="m34.94 44.05h28.86v6.08h-28.86z" fill="#306563"></path>
                                 <path d="m42.53 66.83h106.32v6.08h-106.32z" fill="#64b9b9"></path>
                                 <path d="m15.19 85.06h65.31v6.08h-65.31z" fill="#7fd6d5"></path>
                                 <path d="m33.42 268.85v10.63h115.43c47 0 85.06-36.56 85.06-83.54a85.06 85.06 0 0 0 -85.06-85.06h-74.42v9.12h72.15a75.19 75.19 0 0 1 75.18 75.19c0 41.53-33.66 73.67-75.18 73.67z" fill="#55a49f"></path>
                                 <path d="m51.64 133.66v10.64h110.88a50.12 50.12 0 0 1 50.13 50.12 50.13 50.13 0 0 1 -50.13 50.13h-65.31v12.15h63a61.51 61.51 0 0 0 61.51-61.52 61.52 61.52 0 0 0 -61.51-61.52z" fill="#4a8c89"></path>
                                 <path d="m83.54 156.45v6.07h85.82c18 0 35.69 14.63 35.69 32.66 0 18-17.65 32.66-35.69 32.66h-169.36v7.59h170.12c21.81 0 42.53-17.68 42.53-39.49 0-21.81-20.72-39.49-42.53-39.49z" fill="#5aaba5"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">BitMart</span>
                        </a>
                     </div>
                     <div class="mt-8">
                        <div class="my-4">
                           <div class="flex flex-col px-4 py-2 mx-2 rounded-md bg-gray-900 bg-opacity-50">
                              <p class="text-l text-indigo-500 font-bold">Get Social</p>
                              <p class="text-sm text-white">Talk with us and other miners</p>
                           </div>
                        </div>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://t.me/cryptominesapp" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
                                 <line x1="22" y1="2" x2="11" y2="13"></line>
                                 <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Telegram</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://twitter.com/cryptominesapp" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
                                 <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Twitter</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://discord.gg/8Q7cMb3Cqe" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
                                 <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Discord</span>
                        </a>
                        <a class="w-full font-thin uppercase flex items-center px-4 py-2 my-2 transition-colors
                           duration-200 justify-start hover:bg-opacity-75 text-gray-600 text-gray-600 hover:bg-gradient-to-r   motion-safe:hover:text-purple-500  motion-safe:hover:bg-gradient-to-r  motion-safe:hover:from-white  motion-safe:hover:to-indigo-100  motion-safe:hover:border-r-4  motion-safe:hover:border-indigo-500  motion-safe:hover:from-indigo-700 motion-safe:hover:to-indigo-800" href="https://www.instagram.com/cryptominesapp" target="_blank" rel="noreferrer">
                           <span class="text-left">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-[24px] h-[24px] text-gray-500">
                                 <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                 <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                 <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                              </svg>
                           </span>
                           <span class="mx-4 text-sm font-medium text-gray-100">Instagram</span>
                        </a>
                     </div>
                  </nav>
               </div>
            </div>
            <div class="flex flex-col w-full h-screen relative">
               <header class="stiky top-4 z-30 bg-white dark:bg-gray-800 shadow-lg">
                  <div class="__react_component_tooltip t356df00f-e2e1-48c7-b36a-95645922e960 place-top type-custom" id="t356df00f-e2e1-48c7-b36a-95645922e960" data-id="tooltip">
                     <style aria-hidden="true">
                        .t356df00f-e2e1-48c7-b36a-95645922e960 {
                        color: #fff;
                        background: black;
                        border: 1px solid transparent;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-top {
                        margin-top: -10px;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-top::before {
                        border-top: 8px solid transparent;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-top::after {
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        bottom: -6px;
                        left: 50%;
                        margin-left: -8px;
                        border-top-color: black;
                        border-top-style: solid;
                        border-top-width: 6px;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-bottom {
                        margin-top: 10px;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-bottom::before {
                        border-bottom: 8px solid transparent;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-bottom::after {
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        top: -6px;
                        left: 50%;
                        margin-left: -8px;
                        border-bottom-color: black;
                        border-bottom-style: solid;
                        border-bottom-width: 6px;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-left {
                        margin-left: -10px;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-left::before {
                        border-left: 8px solid transparent;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-left::after {
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        right: -6px;
                        top: 50%;
                        margin-top: -4px;
                        border-left-color: black;
                        border-left-style: solid;
                        border-left-width: 6px;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-right {
                        margin-left: 10px;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-right::before {
                        border-right: 8px solid transparent;
                        }
                        .t356df00f-e2e1-48c7-b36a-95645922e960.place-right::after {
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        left: -6px;
                        top: 50%;
                        margin-top: -4px;
                        border-right-color: black;
                        border-right-style: solid;
                        border-right-width: 6px;
                        }
                     </style>
                  </div>
                  <div class="flex justify-between align-middle h-20 items-center">
                     <div class="flex justify-start items-center">
                        <div class="m-2 bg-gray-700 rounded text-white flex text-xs md:hidden max-w-min">
                           <button class="p-2">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                 <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                              </svg>
                           </button>
                        </div>
                        <div class="p-2 text-white z-10 flex text-xs">
                           <div class="relative group bg-red-500 text-black font-bold px-4 py-2  ">
                              <div class="flex gap-2 justify-center items-center cursor-pointer">
                                 <svg class="w-[20px] h-[20px]" data-testid="eos-svg-component" transform="rotate(0) translate(0, 0) scale(1, 1)" fill="black" width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M8 10H5V7H3v3H0v2h3v3h2v-3h3v-2zm10 1c1.66 0 2.99-1.34 2.99-3S19.66 5 18 5c-.32 0-.63.05-.91.14.57.81.9 1.79.9 2.86s-.34 2.04-.9 2.86c.28.09.59.14.91.14zm-5 0c1.66 0 2.99-1.34 2.99-3S14.66 5 13 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm6.62 2.16c.83.73 1.38 1.66 1.38 2.84v2h3v-2c0-1.54-2.37-2.49-4.38-2.84zM13 13c-2 0-6 1-6 3v2h12v-2c0-2-4-3-6-3z"></path>
                                 </svg>
                                 Create Fleet
                              </div>
                              <div class="absolute hidden z-10 left-0 top-0 min-w-full group-hover:grid gap-1 max-h-96 overflow-auto custom-scrollbar bg-gray-800"></div>
                           </div>
                        </div>
                     </div>
                     <div class="flex justify-end items-center gap-2">
                        <span class="hidden md:flex">
                           <div class="relative">
                              <div><button class="
                                 text-opacity-90
                                 text-white group bg-orange-700 px-3 py-2 w-full rounded-md inline-flex items-center text-base font-medium hover:text-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 bg-gray-700" id="headlessui-popover-button-1" type="button" aria-expanded="false"><span class="inline-flex">Stake <span class="hidden lg:flex ml-2">$ETERNAL</span></span></button></div>
                           </div>
                        </span>
                        <div class="mx-2" data-tip="" currentitem="false" aria-describedby="t356df00f-e2e1-48c7-b36a-95645922e960">
                           <button class="relative mx-auto flex justify-center undefined bg-primary hover:bg-green-400 text-green-900 px-4 py-2 text-sm font-bold rounded-md transition-colors items-center disabled hover:cursor-not-allowed bg-opacity-30 hover:bg-opacity-30 " disabled="" style="transform: none;">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                 <path fill-rule="evenodd" d="M5 2a2 2 0 00-2 2v14l3.5-2 3.5 2 3.5-2 3.5 2V4a2 2 0 00-2-2H5zm4.707 3.707a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L8.414 9H10a3 3 0 013 3v1a1 1 0 102 0v-1a5 5 0 00-5-5H8.414l1.293-1.293z" clip-rule="evenodd"></path>
                              </svg>
                              <span class="flex md:hidden text-sm">0</span>
                              <span class="hidden md:flex">
                                 Claim <!-- -->0<!-- --> $ETERNAL
                              </span>
                           </button>
                        </div>
                        <div class="flex flex-row px-2 py-1 mr-2 rounded-md justify-start items-center">
                           <div class="hidden md:flex px-3 self-center text-white">
                              
                           </div>
                           <div class="flex flex-col">
                              <span class="flex flex-row justify-between text-gray-100 text-xl font-extrabold">
                                 0<!-- --> <span class="hidden md:flex px-1">$ETL</span>
                              </span>
                              <span class="flex flex-row gap-1 text-sm justify-center text-white font-bold p-1 rounded-sm bg-indigo-900 hover:bg-indigo-800 hover:cursor-pointer" data-tip="" href="/account" currentitem="false" aria-describedby="t356df00f-e2e1-48c7-b36a-95645922e960">
                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-indigo-300 ">
                                    <path fill-rule="evenodd" d="M10 2a1 1 0 00-1 1v1a1 1 0 002 0V3a1 1 0 00-1-1zM4 4h3a3 3 0 006 0h3a2 2 0 012 2v9a2 2 0 01-2 2H4a2 2 0 01-2-2V6a2 2 0 012-2zm2.5 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm2.45 4a2.5 2.5 0 10-4.9 0h4.9zM12 9a1 1 0 100 2h3a1 1 0 100-2h-3zm-1 4a1 1 0 011-1h2a1 1 0 110 2h-2a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                                 </svg>
                                 ...
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </header>
               <section class="p-4 md:p-10 overflow-auto custom-scrollbar">
                  <div>
                     <main class="m-[22px] grid grid-flow-row gap-3">
                        <div class="hidden md:flex md:flex-row justify-start items-center p-4 gap-2 bg-gray-800 text-gray-300">
                           <span><span class="text-yellow-500 px-2 font-bold"> PHISHING WARNING:</span>please make sure you are visiting https://play.cryptomines.app/ - check the URL carefully.</span>
                        </div>
                        <div class="flex bg-gray-800 shadow-sm items-center p-3 text-white border-1 rounded-md border-red-500 " style="opacity: 1; transform: none;">
                           <div class="border-l-4 h-full p-4 border-red-500">
                              <svg class="text-red-500 fill-current" data-testid="eos-svg-component" transform="rotate(0) translate(0, 0) scale(1, 1)" fill="black" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                 <path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                              </svg>
                           </div>
                           <div>
                              <h3 class="font-bold text-md">Please Use MetaMask Or Any Other Web3 Wallet To Use CryptoMines</h3>
                              <p class="text-sm">CryptoMines is a decentralized play to earn game and therefore we need you to use any Web3 Wallet (MetaMask, OKEx Wallet, etc) to connect your browser to the Blockchain.</p>
                           </div>
                        </div>
                        <section class="grid sm:grid-cols-1 md:grid-cols-3 gap-3 mt-6">
                           <div class="bg-gray-600 relative cursor-pointer shadow-sm transition-transform hover:shadow-md hover:scale-105">
                              <span class="bg-gray-800 absolute px-2 py-4 right-3 top-0 z-10">
                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-8 h-8 fill-current text-gray-500">
                                    <path data-name="layer2" d="M18 50.8V28h-.1a2.9 2.9 0 0 0-2.9 2.9v12.2a2.9 2.9 0 0 1-2.5 2.9H9.9A2.9 2.9 0 0 0 7 48.9V60h5a10 10 0 0 1 6-9.2zM54.1 46h-2.6a2.9 2.9 0 0 1-2.5-2.9V30.9a2.9 2.9 0 0 0-2.9-2.9H46v22.8a10 10 0 0 1 6 9.2h5V48.9a2.9 2.9 0 0 0-2.9-2.9z"></path>
                                    <path data-name="layer1" d="M22 50a10 10 0 0 1 10 10 10 10 0 0 1 10-10V21.8C42 10.9 32 4 32 4s-10 6.9-10 17.8V50zm10-30a4 4 0 1 1-4 4 4 4 0 0 1 4-4z"></path>
                                 </svg>
                              </span>
                              <!-- IMAGEN AQUI -->
                           </div>

                           <div class="bg-gray-600 relative cursor-pointer shadow-sm transition-transform hover:shadow-md hover:scale-105">
                              <span class="bg-gray-800 absolute px-2 py-4 right-3 top-0 z-10">
                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" class="w-8 h-8 fill-current text-gray-500">
                                    <path data-name="layer2" d="M32 53.2l-24-10V51l24 10 24-10v-7.8l-24 10z"></path>
                                    <path data-name="layer2" d="M56 38.8v-5.6l-24 10-24-10v5.6l24 10 24-10z"></path>
                                    <path data-name="layer2" d="M8 23.2v5.6l24 10 24-10v-5.6l-24 10-24-10z"></path>
                                    <path data-name="layer1" d="M32 28.8l24-10V3H8v15.8l24 10z"></path>
                                 </svg>
                              </span>
                              <!-- IMAGEN AQUI -->
                           </div>
                           <div class="bg-gray-600 relative cursor-pointer shadow-sm transition-transform hover:shadow-md hover:scale-105">
                              <span class="bg-gray-800 absolute px-2 py-4 right-3 top-0 z-10">
                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 458.758 458.758" class="w-8 h-8 fill-current text-gray-500">
                                    <path d="M448.189 10.579c-11.9-11.9-30.2-13.8-54.3-5.5-10.6 3.6-22.6 9.2-36.1 16.8-8.1 4.6-16.8 9.8-25.8 15.8-2.4 1.6-4.8 3.2-7.3 4.9 13.8 7 26.7 15.5 38.6 25.5 2.8-1.7 5.4-3.4 8-4.9 22.8-13.6 37.1-18.8 44.6-20.3-2 10.1-10.7 32.8-37.9 72-2.2 3.1-4.4 6.3-6.7 9.5-5.1-6.9-10.8-13.6-17.1-19.8-68.9-68.9-180.7-68.9-249.6 0s-68.9 180.7 0 249.6c6.3 6.3 12.9 12 19.8 17.1-3.2 2.3-6.4 4.5-9.5 6.7-39.2 27.1-61.9 35.9-72 37.9 1.2-6.1 4.9-17 13.8-33.4 3.1-5.7 6.8-12.1 11.3-19.2-9.9-11.9-18.4-24.8-25.5-38.6-1.7 2.4-3.3 4.9-4.9 7.3-8.3 12.6-15.2 24.3-20.7 35-5.1 9.8-9 18.8-11.8 26.9-8.2 24.1-6.4 42.4 5.5 54.3s30.2 13.8 54.3 5.5c17-5.8 37.8-16.8 61.9-32.6 47.6-31.3 104.4-79 159.8-134.4s103.2-112.2 134.4-159.8c15.8-24.1 26.8-44.9 32.6-61.9 8.3-24.2 6.5-42.4-5.4-54.4zm-344.3 235.6c-9.3 0-16.8-7.5-16.8-16.8 0-38.2 14.9-74.2 41.9-101.2 6.6-6.6 17.2-6.6 23.8 0 6.6 6.6 6.6 17.2 0 23.8-20.7 20.7-32.1 48.2-32.1 77.4.1 9.3-7.5 16.8-16.8 16.8zM310.189 310.179c-35 35-70.6 67-104.3 94.1 52.6 7 107.9-9.7 148.3-50.1 40.5-40.5 57.2-95.7 50.1-148.3-27.1 33.7-59.1 69.3-94.1 104.3z"></path>
                                 </svg>
                              </span>
                              <img src="http://placehold.it/250x140">
                           </div>
                        </section>
                     </main>
                  </div>
               </section>
            </div>
         </div>
         <div class="top-[5%] right-2 md:right-10 absolute z-40 shadow-md"></div>
      </div>
   </div>
</div>