<!-- Required form plugin -->
<link
  href="https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css"
  rel="stylesheet"
/>
<section class="px-4 md:px-10 overflow-auto custom-scrollbar text-white" style="z-index: 999;">
  <%= render 'form' %>
</section>